.sessionlist-bar {
    background-color: var(--color-bg-2);
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        line-height: 1.4;
        padding: 10px 10px;

        .title-label {
            font-size: 18px;
        }
    }

    .content {
        overflow: hidden;
        flex: 1;

        .panel-view {
            padding: 0 10px;
        }

    }
}
